/.fig/
/build/
/bin/
/dist/
/lib/
/rake/
/out/
/tmp/
*.iws
*.ipr
/tmp-web-test/
/log/
/web/ladder-resources/external-js/
/web/sounds
/web/external-js
/web/js
/logs/
/web/ladder-resources/sounds/
/git/
