/bin/
/build/
/dist/
ffc_*log
/.fig/
/git/
/.idea/copyright
/.idea/dictionaries/dfukdev.xml
/.idea/inspectionProfiles/
/.idea/workspace.xml
*.ipr
*.iws
/lib/
/log/
/logs/
/out/
/rake/
/resources
/test-output/
/tmp/
/tmp-web-test/
/web/external-js
/web/js
/web/ladder-resources/external-js/
/web/ladder-resources/sounds/
/web/sounds
