
#background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#111111));
	z-index: -1;
}

body {
	color: white;
	white-space: nowrap;
}

.template, .hidden {
	display: none;
}

.row {
	display: block;
}

.row > div {
	white-space: normal;
	text-align: center;
	align-items: center;
	justify-content: center;
}

#header {
	background: url(images/pancakeRecipe.png) no-repeat right top black;
	height: 85px;
	z-index: 1;
	border-bottom: solid 1px gray;
	padding: 10px;

	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#main {
	margin-top: 130px;
	white-space: nowrap;
}

.hideAdmin #header {
	background: url(images/ScotchPancakes.png) no-repeat right top black;
}

.hideAdmin .adminOnly, .hideAdmin #family_orphanage {
	display: none;
}

.headerButton {
	display: inline-block;
	vertical-align: middle;
	padding: 0 2px;
}

.headerSecondRow, .headerThirdRow {
	margin-top: 5px;
}

.headerThirdRow .right {

	float: right;
	margin-right: 300px;
}

#allStart {
	background-color: lightgreen;
	font-size: 13px;
	font-weight: bold;
	width: 120px;
	height: 40px;
	margin: 8px;
	padding: 2px;
}

#allStop {
	background-color: lightcoral;
	font-size: 13px;
	font-weight: bold;
	width: 120px;
	height: 40px;
	margin: 8px;
	padding: 2px;
}

.btn.link {
	color: #fff;
	background-color: #337ab7;
}

#filteringBlock div {
	display: inline-block;
	vertical-align: middle;
}

#filterButton {
	width: 200px;
	height: 30px;
	text-align: center;
	font-size: 10px;
	white-space: normal;
}

.stackControls div {
	font-size: 12px;
	width: 19px;
	height: 15px;
	text-align: center;
	color: white;
	border: 3px solid #5970B2;
}

.quoterEnabled {
	background: #5970B2;
}

.picardEnabled {
	background: #FB6E75;
}

.stackControls.allEnabled {
	font-size: 12px;
	background-color: #9a9a9a;
	border: 3px solid #5970B2;
}

.childAvailable {
	background-color: lightgreen;
}

.childSearchResult {
	border: solid orange 2px;
}

#parentCreation > div.actionType, #childAdoption > div.actionType {
	border-bottom: solid darkgrey 1px;
	margin: 10px 0 5px 0;
}

#parentCreation > div, #childAdoption > div {
	display: flex;
	padding: 0;
	margin: 0;
}

#familyLookup label, #familyCreationRow label, #childAdoption label {
	width: 50px;
	margin-right: 10px;
	text-align: right;
}

#familyLookup input, #familyCreationRow input, #childAdoption input {
	width: 240px;
	margin-right: 5px;
}

#parentCreation #createChildrenTable {
	display: block;
}

#parentCreation .creationRow {
	margin-top: 5px;
}

.childCreationRow div {
	display: inline-block;
}

.childCreationRow label {
	width: 90px;
	margin-right: 10px;
	text-align: right;
}

.childCreationRow input {
	width: 200px;
	border: 0;
	padding: 0;
	margin: 0;
}

.childCreationRow select {
	width: 75px;
	border: 0;
	padding: 0;
	margin: 0;
}

.childCreationRow button {
	margin-left: 10px;
}

#childAdoption {
	margin: 10px 0 0 0;
}

#creationInfoRow, #adoptionInfoRow > div {
	color: black;
	height: 20px;
	width: 300px;
	text-align: center;
}

#creationInfoRow.unknown, #adoptionInfoRow div.unknown {
	background-color: lightpink;
}

#creationInfoRow:not(.unknown), #adoptionInfoRow div:not(.unknown) {
	background-color: lightgreen;
}

#creationInfoRow div {
	min-width: 50px;
	max-width: 50px;
}

#creationInfoRow div.isin {
	min-width: 120px;
	max-width: 120px;
}

#creationInfoRow div.instType {
	min-width: 80px;
	max-width: 80px;
}

.familyFound {
	left: 0;
}

.childFound {
	position: relative;
	left: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button:hover,
input::-webkit-inner-spin-button:hover {
	-webkit-appearance: none;
	margin: 0;
}

#families .dataRow {
	height: 30px;
}

#families .dataRow .boolean.isTrue {
	background-color: lightgreen;
}

#families .dataRow .boolean:not(.isTrue) {
	background-color: lightpink;
}

.familyDetails {
	font-size: 12px;
	white-space: nowrap;
	border-bottom: 1px solid #555555;
	display: inline-block;
	width: 100%;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	-webkit-user-select: none;
}

.familyDetails div {
	display: inline-block;
	font-size: 12px;
}

.familyDetails .childCount {
	text-align: right;
	width: 50px;
}

.runningControls .start {
	background-color: lightgreen;
}

.runningControls .stop {
	background-color: lightcoral;
}

.familyDetails .familyName {
	text-align: left;
	width: 120px;
	font-size: 20px;
	padding-left: 10px;
	margin: 0;
	cursor: pointer;
}

.familyDetails .priceOffset {
	text-align: right;
	width: 75px;
	margin: 0 2px;
}

.familyDetails .priceOffsetButtons {
	white-space: normal;
	vertical-align: middle;
	width: 20px;
	height: auto;
}

.familyDetails .priceOffsetButtons button {
	height: 8px;
	width: 20px;
	margin-bottom: 3px;
}

.configControls button {
	background-color: #9a9a9a;
	text-align: center;
	width: 14px;
	padding: 0;
	margin: 0;
	border: 1px solid #989898;
}

.configControls button.enabled {
	background-color: #525252;
	color: #ffffff;
	border: solid 1px #2d270c;
}

#families .stackControls div {
	border: 3px solid red;
}

#families .stackControls div.enabled {
	border: 3px solid green;
}

#families .cleanParent {
	background-color: buttonface;
	color: buttonText;
	border: 3px solid #5970B2;
}

#families .cleanParent:active {
	border: 3px solid #9a9a9a;
}

.relationship, .relationship div {
	display: inline-block;
}

.children .header .childControls {
	display: none;
}

#exchanges .relationship > div {
	min-width: 70px;
	max-width: 70px;
	font-size: 11px;
	border-bottom: solid darkgrey 1px;
}

#families .relationship > div.childDetail {
	min-width: 75px;
	max-width: 75px;
	font-size: 12px;
}

#families .relationship div input {
	width: 70px;
	text-align: center;
}

.children .relationship .bid input {
	background: lightcyan;
}

.children .relationship .ask input {
	background: mistyrose;
}

.children .row .configControls {
	width: 70px;
	height: 17px;
}

.children .childControls .runningControls {
	border: 2px solid #ff3852;
}

.children .childControls .runningControls.enabled {
	border: 2px solid #62ff58;
}

.children .childControls .leftInfo {
	padding-right: 5px;
	border-right: solid lightslategrey 2px;
}

.row .childControls, .row .childControls div {
	display: inline-block;
	vertical-align: middle;
}

input[type=Submit], #families .dataRow > button {
	position: relative;
	height: 20px;
}

#families .family .children .header input[type=Submit] {
	visibility: hidden;
}

input[type=Submit].hidden {
	display: auto;
}

.notPersisted {
	background-color: lightpink;
}

#footer {
	background-color: #ff7300;
	color: white;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 10;
	text-align: center;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

#footer .footerControls {
	font-size: 0;
}

#footer .footerControls div {
	display: inline-block;
	width: 50%;
	padding: 0;
	margin: 0;
	border: 1px solid black;
	font-size: 15px;
}

#clearFilters {
	background: #b6701e;
}

#footer .filters {
	text-align: left;
}

#footer .filterGroupName {
	background-color: #8b7765;
	font-weight: bold;
	font-size: 12px;
}

#footer .filterName {
	background-color: #cdaf95;
	text-indent: 50px;
	color: black;
}

#footer .filterName.selected {
	color: green;
}
