
#background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#111111));
	z-index: -1;
}

.hideAdmin #header {
	background: url(images/ScotchPancakes.png) no-repeat right top black;
}

.hideAdmin .adminOnly, .hideAdmin #family_orphanage {
	display: none;
}

body {
	color: white;
}

.template, .hidden {
	display: none;
}

.row {
	white-space: nowrap;
	display: flex;
}

.row > div {
	white-space: normal;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

#creationRow label {
	width: 90px;
	margin-right: 10px;
	text-align: right;
}

#creationRow input {
	width: 200px;
	border: 0;
	padding: 0;
	margin: 0;
}

#creationRow select {
	width: 75px;
	border: 0;
	padding: 0;
	margin: 0;
}

.serverDetails {
	font-size: 0;
	white-space: nowrap;
	border-bottom: 1px solid #555555;
	display: inline-block;
	cursor: pointer;
	width: 100%;
	padding: 15px 0 0;
	margin: 0;
}

.serverDetails div {
	display: inline-block;
}

.serverDetails div.nibblerName {
	text-align: left;
	width: 180px;
	font-size: 20px;
	padding-left: 10px;
	margin: 0;
}

.serverDetails .orderCount {
	text-align: right;
	width: 50px;
	font-size: 12px;
}

.row div.button {
	width: 70px;
}

#infoRow {
	height: 20px;
	color: black;
}

#infoRow .instrumentID.unknown {
	background-color: lightpink;
}

#infoRow .instrumentID:not(.unknown) {
	background-color: lightgreen;
}

#infoRow .instrumentID {
	width: 300px;
}

#infoRow .leanType {
	width: 175px;
}

#infoRow .availableNibblers {
	width: 175px;
}

#infoRow .instrumentID div {

	width: 75px;
}

#infoRow .instrumentID div.isin {
	width: 150px;
}

#exchanges .row > div {
	min-width: 70px;
	max-width: 70px;
	font-size: 12px;
	border-bottom: solid darkgrey 1px;
}

#exchanges .dataRow {
	height: 37px;
}

#exchanges .dataRow .boolean.isTrue {
	background-color: lightgreen;
}

#exchanges .dataRow .boolean:not(.isTrue) {
	background-color: lightpink;
}

#exchanges .dataRow .symbol {
	cursor: pointer;
}