
#background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#111111));
	z-index: -1;
}

body {
	font-family: tahoma, arial, sans-serif;
	background-color: #000000;
	color: #ffffff;
	margin: 2px;
	height: 100%;
}

.row {
	font-size: 0;
	white-space: nowrap;
	cursor: default;
}

.row div {
	display: inline-block;
	width: 100px;
	text-align: center;
	border-bottom: 1px solid #555555;
}

.row div.msg {
	width: 100%;
	text-align: left;
}

.row#header div {
	font-size: 14px;
}

.row:not(#header) div {
	font-size: 11px;
}

.symbol {
	cursor: pointer;
}

.RFQ div {
	background-color: #7d4a3c;
}

.SWEEP div {
	background-color: #534efa;
}

.TWAP div {
	background-color: darkslategray;
}