*:not(input) {
    -webkit-user-select: none;
    cursor: default;
}

.hidden {
    display: none !important;
}

.template {
    display: none !important;
}

body {
    background-color: #d4d0c7;
    color: white;;
    font-size: 10px;
    font-family: verdana, tahoma, arial, serif;
}

div {
    text-spacing: allow-end;
    -webkit-box-sizing: border-box;
}

#ladder {
    position: absolute;
    left: 42px;
    top: 0px;
    width: 201px;
    z-index: 0;
}

#rows {
    position: relative;
    z-index: 1;
}

.total_qty {
    position: absolute;
    color: white;
    height: 15px;
    width: 40px;
    text-align: center;
    top: 0px;
    padding: 1px;
    font-size: 9px;
    vertical-align: middle;
    z-index: 100;
}

#buy_qty {
    left: 0px;
    background-color: #0000c6;
}

#sell_qty {
    right: 0px;
    background-color: #ac0000;
}

#symbol {
    position: relative;
    height: 15px;
    border: solid 1px black;
    color: black;
    text-align: center;
    white-space: nowrap;
    font-size: 10px;
}

.row {
    z-index: 0;
    position: relative;
    height: 15px;
    border-right: solid 1px gray;
}

.row:hover {
    background-color: #a7a49d;
}

.column {
    position: absolute;
    width: 40px;
    height: 15px;
    border-left: solid 1px gray;
    text-align: right;
    border-bottom: solid 1px gray;
    z-index: 1;
    padding: 1px;
    overflow: hidden;
}

.column:hover {
    overflow: visible;
    z-index: 99;
}

.order {
    left: 0px;
    text-align: center;
}

.order.working_qty {
    background-color: #3c3c3c;
}

.order.working_qty.working_bid {
    color: #99f;;
}

.order.working_qty.working_offer {
    color: #f99;;
}

.order.working_order_type_taker {
    border-top: solid 1px #00bd00 !important;
    background-color: #3c3c3c !important;
}

.order.working_order_type_manual {
    border-left: solid 1px white !important;
    background-color: #3c3c3c !important;
}

.order.working_order_type_hawk {
    border-bottom: solid 1px #ffa422 !important;
    background-color: #3c3c3c !important;
}

.order.working_order_type_mkt_close {
    border-right: solid 1px #ff04ef !important;
    background-color: #3c3c3c !important;
}

.order.working_order_type_quote {
    background-color: gray;
}

.order.working_order_type_dark {
    background-color: #000000 !important;
    border: dotted 1px white;
}

.MANUAL, .MANUAL:hover {
    background-color: white;
}

.HAWK, .HAWK:hover {
    background-color: #ffa422;
}

.TAKER, .TAKER:hover {
    background-color: #00bd00;
}

.MKT_CLOSE, .MKT_CLOSE:hover {
    background-color: #ff04ef;
}

.IOC, .IOC:hover {
    background-color: #16ffe1;
}

.BATS_PEGGED_DARK_BOOK_ONLY, .BATS_PEGGED_DARK_BOOK_ONLY:hover {
    background-color: black;
    color: #c5c5c5;
}

.bid {
    color: white;
    background-color: #0000c6;
    left: 40px;
}

.bid:hover {
    background-color: #0000b3 !important;
}

.bid.bid_active {
    background-color: #0032ff;
}

.price {
    background-color: #999;
    color: white;
    left: 80px;
    width: 50px;
}

.price.price_traded {
    background-color: #737373;
}

.offer {
    color: black;
    left: 130px;
    background-color: #ac0000;
}

.offer:hover {
    background-color: #980000 !important;
}

.offer.offer_active {
    background-color: #dd0000;
}

.volume, .trade, .text {
    color: black;
    left: 170px;
    width: 30px;
}

.volume {
    font-size: 8px;
}

.trade {
    font-size: 10px;
    background-color: white;
    z-index: 2;
}

#text {
    position: relative;
    height: 28px;
    border-right: solid 1px gray;
    text-wrap: none;
    width: 201px;
}

.text_cell {
    position: absolute;
    color: black;
    width: 40px;
    border-left: solid 1px gray;
    height: 14px;
    text-align: center;
    padding: 1px;
    border-bottom: solid 1px gray;

}

#text_r1c1 {
    left: 0px;
}

#text_r1c2 {
    left: 40px;
}

#text_r1c3 {
    left: 80px;
}

#text_r1c4 {
    left: 120px;
}

#text_info {
    left: 160px;
}

#text_execution {
    left: 0px;
}

#text_r2c1 {
    left: 0px;
    top: 14px
}

#text_r2c2 {
    left: 40px;
    top: 14px
}

#text_r2c3 {
    left: 80px;
    top: 14px
}

#text_r2c4 {
    left: 120px;
    top: 14px
}

#text_r2c5 {
    left: 160px;
    top: 14px
}

.text_cell_execution {
    position: absolute;
    background-color: white;
    color: #008b8b;
    font-weight: bold;
    height: 14px;
    top: -12px;
    text-align: center;
    z-index: 3;
    white-space: nowrap;
}

.last_buy {
    background-color: #7b97ff !important;
}

.last_sell {
    background-color: #b76c58 !important;
}

.traded_up {
    background-color: #00ff00 !important;
}

.traded_up.traded_again {
    background-color: #99ff22 !important;
}

.traded_down {
    background-color: #f29106 !important;
    color: white !important;
}

traded_down.traded_again {
    background-color: #c77706 !important;
    color: white !important;
}

.bid_color {
    border-bottom: solid 1px blue;
}

.offer_color {
    border-bottom: solid 1px red;
}

.green_color {
    border-bottom: solid 1px #00ff1b;
}

.positive {
    background-color: #00b000;
}

.negative {
    background-color: #f29106;
    color: white;
}

.recentering {
    background-color: #ff41f7;
    opacity: 0.7;
}

.laser {
    position: absolute;
    height: 1px;
    width: 50px;
    top: 0px;
    left: 80px;
    z-index: 3;
}

/*    information    */

#information {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 42px;
    border: 0px;
}

#information * {
    font-size: 10px;
    position: absolute;
    margin: 0px;
    padding: 0px;
    text-align: center !important;
    height: 12px;
    color: black;
    width: 100%;
}

#clock {
    top: 0px;
    font-size: 9px;
    height: 12px;
    text-align: center;
}

#desk_position {
    top: 12px;
}

#last_trade_cod {
    top: 24px;
}

#total_traded_volume {
    top: 36px;
}

#position {
    top: 48px;
}

#position.positive {
    background-color: #534efa;
    color: white;
}

#position.negative {
    background-color: #ff7369;
    color: white;
}

/*   click trading   */

#clicktrading {
    position: absolute;
    left: 0px;
    top: 60px;
    width: 42px;
    border: 0px;
}

#clicktrading * {
    position: absolute;
    font-size: 9px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#inp_qty {
    width: 40px;
    height: 16px;
}

#clicktrading .quantity_button {
    width: 20px;
    height: 14px;
}

#clicktrading .quantity_button.col_1 {
    left: 0px;
}

#clicktrading .quantity_button.col_2 {
    left: 21px;
}

#clicktrading .quantity_button.row_1 {
    top: 16px;
}

#clicktrading .quantity_button.row_2 {
    top: 32px;
}

#clicktrading .quantity_button.row_3 {
    top: 48px;
}

#btn_clear {
    width: 40px;
    height: 16px;
    top: 64px;
}

#inp_reload {
    top: 80px;
    width: 40px;
    height: 16px;
}

.order_type {
    height: 16px;
    width: 30px;
    margin: 0px;
    font-size: 9px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#order_type_left {
    top: 96px;
}

#chk_auto_hedge_left {
    top: 96px;
    height: 16px;
    left: 30px;
    width: 10px;
}

#order_type_right {
    top: 112px;
}

#chk_auto_hedge_right {
    top: 112px;
    height: 16px;
    left: 30px;
    width: 10px;
}

#random_reload {
    color: black;
    top: 128px;
    width: 30px;
    right: 5px;
}

#random_reload #chk_random_reload {
    width: 10px;
}

.slow {
    background-color: orange;
}

.very-slow {
    background-color: darkred !important;
    color: white;
}

.offset_button {
    height: 12px;
    width: 18px;
    font-size: 6px;

}

#buy_offset_up {
    top: 140px;
    left: 0px;
    background-color: #b6f7ff;
}

#buy_offset_down {
    top: 155px;
    left: 0px;
    background-color: #b6f7ff;
}

#sell_offset_up {
    top: 140px;
    left: 20px;
    background-color: #ffd5cd;
}

#sell_offset_down {
    top: 155px;
    left: 20px;
    background-color: #ffd5cd;
}

#start_buy {
    top: 170px;
    left: 00px;
    background-color: #c4ffbe;
}

#stop_buy {
    top: 185px;
    left: 0px;
    background-color: #ff9999;
}

#start_sell {
    top: 170px;
    left: 20px;
    background-color: #c4ffbe;
}

#stop_sell {
    top: 185px;
    left: 20px;
    background-color: #ff9999;
}

/* index */

tr.result:nth-child(odd) {
    background-color: #d4d0c7;
}

tr.result:nth-child(even) {
    background-color: #bab6af;
}

tr.result {
    font-size: 11px;
    font-family: monospace;
    color: black;
}

tr.result .symbol {
    white-space: nowrap;
    font-size: 14px;
    min-width: 100px;
}

tr.result .display {
    min-width: 50px;
    white-space: nowrap;
}

tr.result .description {
    font-size: 10px;
    -webkit-user-select: text;

}

#search_results_container {
    top: 35px;
    left: 0px;
    position: absolute;
    margin: 0px;
    width: 100%;
    border: solid 3px dotted black;
}

#search_results {
    width: 100%;
}

tr.result.highlight {
    background-color: #fdd3bb !important;
}

#search_box {
    background-color: #e8e8e8;
    margin: 0px;
    width: 400px;
}

#search {
    left: 0px;
    top: 0px;
    position: absolute;;
    margin: 0px;
    height: 30px;
    font-size: 15px;
    font-family: monospace;
    background-color: #292929;
    color: white;
    border: 1px dotted white;
    width: 100%;

}