*:not(input) {
	-webkit-user-select: none;
	cursor: default;
}

.invisible {
	display: none !important;
}

.template {
	display: none !important;
}

body {
	background-color: #d4d0c7;
	color: white;;
	font-size: 10px;
	font-family: verdana, tahoma, arial, serif;
	overflow: hidden;
}

body#search_page {
	overflow: auto !important;
}

#symbol.spread {
	background-color: #bad4b1;
}

#symbol.reverseSpread {
	border-top: solid 4px #00b000;
}

#symbol.back {
	background-color: #d4d09b;
}

div {
	text-spacing: allow-end;
	-webkit-box-sizing: border-box;
}

#ladder {
	position: absolute;
	left: 42px;
	top: 0;
	width: 201px;
	z-index: 0;
}

#rows {
	position: relative;
	z-index: 1;
}

.total_qty {
	position: absolute;
	color: white;
	height: 15px;
	width: 40px;
	text-align: center;
	top: 0;
	padding: 1px;
	font-size: 9px;
	vertical-align: middle;
	z-index: 100;
}

#buy_qty {
	left: 0;
	background-color: #0000c6;
}

#sell_qty {
	right: 0;
	background-color: #ac0000;
}

#symbol {
	position: relative;
	height: 15px;
	border: solid 1px black;
	color: black;
	text-align: center;
	white-space: nowrap;
	font-size: 10px;
}

.row {
	z-index: 0;
	position: relative;
	height: 15px;
	border-right: solid 1px gray;
}

.row:hover {
	background-color: #a7a49d;
}

.column {
	position: absolute;
	width: 40px;
	height: 15px;
	border-left: solid 1px gray;
	text-align: right;
	border-bottom: solid 1px gray;
	z-index: 1;
	padding: 1px;
	overflow: hidden;
}

.column:hover {
	overflow: visible;
	z-index: 99;
}

.order {
	left: 0;
	text-align: center;
}

.order.working_qty {
	background-color: #3c3c3c;
}

.order.working_qty.working_bid {
	color: #c4c4ff;
}

.order.working_qty.working_offer {
	color: #f99;
}

.order.eeif_order_type_managed {
	border: solid 2px #ffbaa2 !important;
	background-color: #757575 !important;
}

.order.working_order_type_hidden_ticktaker {
	background-color: #b4b0a9;
}

.order.working_order_type_hidden_ticktaker.working_qty.working_bid {
	color: #34357f;;
}

.order.working_order_type_hidden_ticktaker.working_qty.working_offer {
	color: #8c2629;;
}

.order.working_order_type_taker {
	border-top: solid 1px #00bd00 !important;
	background-color: #3c3c3c !important;
}

.order.working_order_type_manual {
	border-left: solid 1px white !important;
	background-color: #3c3c3c !important;
}

.order.working_order_type_hawk {
	border-bottom: solid 3px #ffa422 !important;
	background-color: gray !important;
}

.order.working_order_type_hedger {
	border-bottom: solid 3px #5884ff !important;
	background-color: gray !important;
}

.order.working_order_type_sprinter {
	border: dotted 3px #ff0006 !important;
	background-color: gray !important;
}

.order.working_order_type_picard {
	border: dotted 3px #ff0006 !important;
	background-color: gray !important;
}

.order.working_order_type_mkt_close {
	border-right: solid 1px #ff04ef !important;
	background-color: #3c3c3c !important;
}

.order.working_order_type_market {
	border: solid 2px #ffe100 !important;
	background-color: #3c3c3c !important;
}

.order.working_order_type_gtc {
	border: solid 1px #ffa7db !important;
	background-color: #3c3c3c !important;
}

.order.working_order_type_quote {
	background-color: gray;
}

.order.working_order_type_dark {
	background-color: #000000 !important;
	border: dotted 1px white;
}

.order.working_order_type_hidden {
	background-color: #0c552a !important;
	border: dotted 1px #000288;
}

.order.modify_price_selected, .stackView .modify_price_selected {
	border: solid 2px red !important;
}

.MANUAL, .MANUAL:hover {
	background-color: white;
}

.HAWK, .HAWK:hover {
	background-color: #ffa422;
}

.TAKER, .TAKER:hover {
	background-color: #00bd00;
}

.MKT_CLOSE, .MKT_CLOSE:hover {
	background-color: #ff04ef;
}

.MIDPOINT, .MIDPOINT:hover {
	background-color: #8ba7ff;
}

.IOC, .IOC:hover {
	background-color: #16ffe1;
}

.GTC, .GTC:hover {
	background-color: #ffa7db;
}

.MARKET, .MARKET:hover {
	background-color: #fffb00;
}

.HAM, .HAM:hover, .HAMON, .HAMON:hover, .HAM3, .HAMON3, .YODA, .YAMON, .TRON, .TRON3,
.HAM3:hover, .HAMON3:hover, .TRON:hover, .TRON3:hover, .SNAGGIT, .SNAGGIT:hover {
	background-color: #ffbaa2 !important;
}

.DARK_PEGGED, .DARK_PEGGED:hover {
	background-color: black;
	color: #c5c5c5;
}

.HIDDEN, .HIDDEN:hover {
	background-color: #0c552a;
	color: #c5c5c5;
}

.EPHEMERAL {
	background-color: #FF6F6F;
	color: black;
}

.ONE_SHOT {
	background-color: #5ACE62;
	color: black;
}

.AUTO_MANAGE {
	background-color: #FFCE70;
	color: black;
}

.REFRESHABLE {
	background-color: #9154BE;
	color: white;
}

.book .bid {
	color: white;
	background-color: #0000c6;
	left: 40px;
}

.AUCTION .book .bid {
	color: #c4c4ff;
}

.AUCTION .book .offer {
	color: #f99;
}

.AUCTION .book div.AUCTION {
	background-color: #DDA472;;
	color: black;
}

.book .bid:hover {
	background-color: #0000b3 !important;
}

.book .bid.bid_active {
	background-color: #0032ff;
}

.book .bid.bid_active.impliedBid {
	background-color: #6668ff;
}

.book .offer.offer_active.impliedOffer {
	background-color: #d0638d;
}

.book .price {
	background-color: #999;
	color: white;
	left: 80px;
	width: 50px;
}

.book .price.price_traded {
	background-color: #737373;
}

.book .offer {
	color: black;
	background-color: #ac0000;
	left: 130px;
}

.book .offer:hover {
	background-color: #980000 !important;
}

.book .offer.offer_active {
	background-color: #dd0000;
}

.book .volume, .trade, .text {
	color: black;
	left: 170px;
	width: 30px;
}

#ladderDiv:not(.stackView) .stack.row {
	display: none;
}

#ladderDiv.stackView .book.row {
	display: none;
}

#ladderDiv.stackView .stack.row div {
	font-size: 8px;
}

#ladderDiv.stackView .stack.row .stackOffset {
	border: 1px solid white;
}

#ladderDiv.stackView .stack.row .quote.stackQty {
	background: #5970B2;
}

#ladderDiv.stackView .stack.row .picard.stackQty {
	background: #FB6E75;
}

#ladderDiv.stackView .stack.row .bid.quote {
	left: 0;
	width: 35px;
}

#ladderDiv.stackView .stack.row .bid.picard {
	left: 35px;
	width: 35px;
}

#ladderDiv.stackView .stack.row .bid.offset {
	left: 70px;
	width: 28px;
	background-color: #0000b3;
	color: white;
}

#ladderDiv.stackView .stack.row .divider {
	left: 98px;
	width: 4px;
	background-color: #999;
}

#ladderDiv.stackView .stack.row .ask.offset {
	left: 102px;
	width: 28px;
	background-color: #ac0000;
	color: white;
}

#ladderDiv.stackView .stack.row .ask.picard {
	left: 130px;
	width: 35px;
}

#ladderDiv.stackView .stack.row .ask.quote {
	left: 165px;
	width: 35px;
}

.column.stackQty {
	padding: 0;
	color: white;
	text-align: center;
	font-size: 10px;
}

.column.stackQty.QUOTER.PICARD {
	background: linear-gradient(to right, #5970B2, #FB6E75);
}

.column.stackQty.EPHEMERAL:after, .column.stackQty.ONE_SHOT:after, .column.stackQty.AUTO_MANAGE:after, .column.stackQty.REFRESHABLE:after {
	content: "";
	height: 3px;
	display: block;
	margin-bottom: 0;
	margin-top: 0;
}

.column.stackQty.EPHEMERAL:after {
	background: #FF6F6F;
}

.column.stackQty.ONE_SHOT:after {
	background: #5ACE62;
}

.column.stackQty.AUTO_MANAGE:after {
	background: #FFCE70;
}

.column.stackQty.REFRESHABLE:after {
	background: #9154BE;
}

.column.stackQty.EPHEMERAL.ONE_SHOT:after {
	background: linear-gradient(to right, #FF6F6F 50%, #5ACE62 50%);
}

.column.stackQty.EPHEMERAL.AUTO_MANAGE:after {
	background: linear-gradient(to right, #FF6F6F 50%, #FFCE70 50%);
}

.column.stackQty.EPHEMERAL.REFRESHABLE:after {
	background: linear-gradient(to right, #FF6F6F 50%, #9154BE 50%);
}

.column.stackQty.ONE_SHOT.AUTO_MANAGE:after {
	background: linear-gradient(to right, #5ACE62 50%, #FFCE70 50%);
}

.column.stackQty.ONE_SHOT.REFRESHABLE:after {
	background: linear-gradient(to right, #5ACE62 50%, #9154BE 50%);
}

.column.stackQty.AUTO_MANAGE.REFRESHABLE:after {
	background: linear-gradient(to right, #FFCE70 50%, #9154BE 50%);
}

.column.stackQty.EPHEMERAL.ONE_SHOT.AUTO_MANAGE:after {
	background: linear-gradient(to right, #FF6F6F 33%, #5ACE62 33%, #5ACE62 66%, #FFCE70 66%);
}

.column.stackQty.EPHEMERAL.ONE_SHOT.REFRESHABLE:after {
	background: linear-gradient(to right, #FF6F6F 33%, #5ACE62 33%, #5ACE62 66%, #9154BE 66%);
}

.column.stackQty.EPHEMERAL.AUTO_MANAGE.REFRESHABLE:after {
	background: linear-gradient(to right, #FF6F6F 33%, #FFCE70 33%, #FFCE70 66%, #9154BE 66%);
}

.column.stackQty.ONE_SHOT.AUTO_MANAGE.REFRESHABLE:after {
	background: linear-gradient(to right, #5ACE62 33%, #FFCE70 33%, #FFCE70 66%, #9154BE 66%);
}

.column.stackQty.EPHEMERAL.ONE_SHOT.AUTO_MANAGE.REFRESHABLE:after {
	background: linear-gradient(to right, #FF6F6F 25%, #5ACE62 25%, #5ACE62 50%, #FFCE70 50%, #FFCE70 75%, #9154BE 75%);
}

.volume {
	font-size: 8px;
}

.currency {
	font-size: 10px;
	font-weight: bold;
	text-align: center;
}

.mic {
	font-size: 9px;
	font-weight: bold;
	text-align: center;
}

.trade {
	font-size: 10px;
	background-color: white;
	z-index: 2;
}

#text {
	position: relative;
	height: 56px;
	border-right: solid 1px gray;
	text-wrap: none;
	width: 201px;
}

.text_cell {
	position: absolute;
	color: black;
	width: 40px;
	border-left: solid 1px gray;
	height: 14px;
	text-align: center;
	padding: 1px;
	border-bottom: solid 1px gray;

}

#text_r1c1 {
	left: 0;
}

#text_r1c2 {
	left: 40px;
}

#text_r1c3 {
	left: 80px;
}

#text_r1c4 {
	left: 120px;
}

#after_hours_weight {
	left: 160px;
}

#text_execution {
	left: 0;
}

#text_r2c1 {
	left: 0;
	top: 14px;
}

#bid_best_offset_bps {
	left: 40px;
	top: 14px;
}

#text_r2c3 {
	left: 80px;
	top: 14px;
}

#ask_best_offset_bps {
	left: 120px;
	top: 14px;
}

#text_r2c5 {
	left: 160px;
	top: 14px;
}

#pks_exposure {
	left: 0;
	top: 28px;
}

#text_r3c2 {
	left: 40px;
	top: 28px;
}

#text_r3c3 {
	left: 80px;
	top: 28px;
}

#text_r3c4 {
	left: 120px;
	top: 28px;
}

#pks_position {
	left: 160px;
	top: 28px;
}

#text_r4c1 {
	left: 0;
	top: 42px;
}

#text_r4c2 {
	left: 40px;
	top: 42px;
}

#text_r4c3 {
	left: 80px;
	top: 42px;
}

#text_r4c4 {
	left: 120px;
	top: 42px;
}

#text_r4c5 {
	left: 160px;
	top: 42px;
}


.text_cell_execution {
	position: absolute;
	background-color: white;
	color: #008b8b;
	font-weight: bold;
	height: 14px;
	top: -12px;
	text-align: center;
	z-index: 3;
	white-space: nowrap;
}

.last_buy {
	background-color: #7b97ff !important;
}

.last_sell {
	background-color: #b76c58 !important;
}

.jasper_last_buy {
	background-color: #008b8b !important;
}

.jasper_last_sell {
	background-color: #643c57 !important;
}

.last_buy.last_sell {
	background-color: #9982AC !important;

}

.jasper_last_buy.last_sell {
	/*background-color: #9154BE !important;*/
	background: linear-gradient(135deg, #008b8b 50%, #b76c58 50%);
}

.last_buy.jasper_last_sell {
	/*background-color: #9154BE !important;*/
	background: linear-gradient(135deg, #7b97ff 50%, #643c57 50%);
}


.jasper_last_sell.jasper_last_buy {
	/*background-color: #9154BE !important;*/
	background: linear-gradient(135deg, #008b8b 50%, #643c57 50%);
}

.traded_up {
	background-color: #00ff00 !important;
}

.traded_up.traded_again {
	background-color: #99ff22 !important;
}

.traded_down {
	background-color: #f29106 !important;
	color: white !important;
}

.traded_down.traded_again {
	background-color: #c77706 !important;
	color: white !important;
}

.bid_color {
	border-bottom: solid 1px blue;
}

.ask_color {
	border-bottom: solid 1px red;
}

.green_color {
	border-bottom: solid 1px #00ff1b;
}

.white_colour {
	border-bottom: solid 1px white;
}

.positive {
	background-color: #00b000;
}

.negative {
	background-color: #f29106;
	color: white;
}

.recentering {
	background-color: #ff41f7;
	opacity: 0.7;
}

.laser {
	position: absolute;
	height: 1px;
	width: 50px;
	top: 0;
	left: 80px;
	z-index: 3;
}

/*    information    */

#information {
	position: absolute;
	left: 0;
	top: 0;
	width: 42px;
	border: 0;
}

#information * {
	font-size: 10px;
	position: absolute;
	margin: 0;
	padding: 0;
	text-align: center !important;
	height: 12px;
	color: black;
	width: 100%;
}

#bookViewButton {
	top: 0;
	left: 0;
	font-size: 8px;
	height: 12px;
	width: 50%;
	text-align: center;
}

#stackViewButton {
	top: 0;
	left: 21px;
	font-size: 8px;
	height: 12px;
	width: 50%;
	text-align: center;
}

#clock {
	top: 12px;
	font-size: 9px;
	height: 12px;
	text-align: center;
	letter-spacing: -2px;
}

.stackView #tradingInfoCells {
	display: none;
}

#tradingInfoCells {
	top: 24px;
}

#desk_position {
	top: 0;
}

#last_trade_cod {
	top: 12px;
}

#yesterday_settle {
	top: 12px;
}

#total_traded_volume {
	top: 24px;
}

#position {
	top: 36px;
}

#totalTraded {
	top: 36px;
	background-color: white;
	color: black;
}

#position.positive {
	background-color: #534efa;
	color: white;
}

#position.negative {
	background-color: #ff7369;
	color: white;
}

/*   click trading   */

#clicktrading {
	position: absolute;
	left: 0;
	top: 72px;
	width: 42px;
	border: 0;
}

.stackView #clicktrading {
	top: 24px;
}

#clicktrading * {
	position: absolute;
	font-size: 9px;
	margin: 0;
	padding: 0;
	text-align: center;
}

#working_order_tags {

	-webkit-appearance: none;
	width: 40px;
	height: 16px;
	background: #5970B2;
	color: #FFF;
}

#working_order_tags.QUOTER, #working_order_tags .QUOTER {
	background: #5970B2;
}

#working_order_tags.PICARD, #working_order_tags .PICARD {
	background: #FB6E75;
}

#inp_qty {
	width: 40px;
	top: 16px;
	height: 16px;
}

#clicktrading .quantity_button {
	width: 20px;
	height: 14px;
}

#clicktrading .quantity_button.col_1 {
	left: 0;
}

#clicktrading .quantity_button.col_2 {
	left: 21px;
}

#clicktrading .quantity_button.row_1 {
	top: 32px;
}

#clicktrading .quantity_button.row_2 {
	top: 48px;
}

#clicktrading .quantity_button.row_3 {
	top: 64px;
}

#btn_clear {
	font-size: 7px;
	width: 40px;
	height: 16px;
	top: 80px;
}

#btn_copy {
	font-size: 8px;
	width: 40px;
	height: 16px;
	top: 80px;
}

#inp_reload {
	top: 96px;
	width: 40px;
	height: 16px;
}

.order_type {
	height: 16px;
	width: 40px;
	margin: 0;
	font-size: 9px;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.order_type.fullWidth {
	width: 40px;
}

#order_type_left {
	top: 112px;
}

#order_type_right {
	top: 128px;
}

#random_reload {
	color: black;
	top: 144px;
	width: 30px;
	right: 5px;
}

.slow {
	background-color: orange;
}

.very-slow {
	background-color: darkred !important;
	color: white;
}

.offset_button {
	height: 12px;
	width: 18px;
	font-size: 6px;

}

#buy_offset_up {
	top: 156px;
	left: 0;
	background-color: #b6f7ff;
}

#buy_offset_down {
	top: 172px;
	left: 0;
	background-color: #b6f7ff;
}

#sell_offset_up {
	top: 156px;
	left: 20px;
	background-color: #ffd5cd;
}

#sell_offset_down {
	top: 171px;
	left: 20px;
	background-color: #ffd5cd;
}

#start_buy {
	top: 186px;
	left: 00px;
	background-color: #c4ffbe;
}

#stop_buy {
	top: 201px;
	left: 0;
	background-color: #ff9999;
}

#start_sell {
	top: 186px;
	left: 20px;
	background-color: #c4ffbe;
}

#stop_sell {
	top: 201px;
	left: 20px;
	background-color: #ff9999;
}

#btn_stack_config {
	position: absolute;
	font-size: 9px;
	margin: 0;
	padding: 0;
	text-align: center;
	top: 216px;
	left: 0;
	width: 40px;
	height: 12px;
}

.stackView #btn_stack_config {
	top: 168px;
}

#stacks_control {
	position: absolute;
	left: 0;
	top: 288px;
	width: 42px;
	border: 0;
}

.stackView #stacks_control {
	top: 240px;
}

#stacks_control * {
	position: absolute;
	font-size: 9px;
	margin: 0;
	padding: 0;
	text-align: center;
}

#stackBidQuoterEnabled, #stackBidPicardEnabled, #stackAskQuoterEnabled, #stackAskPicardEnabled {
	width: 19px;
	height: 15px;
	text-align: center;
	color: white;
	border: 3px solid red;
}

#stackBidQuoterEnabled, #stackAskQuoterEnabled {
	top: 0;
	background: #5970B2;
}

#stackBidPicardEnabled, #stackAskPicardEnabled {
	top: 17px;
	background: #FB6E75;
}

#stackBidQuoterEnabled, #stackBidPicardEnabled {
	left: 1px;
}

#stackAskQuoterEnabled, #stackAskPicardEnabled {
	left: 22px;
}

#stackBidQuoterEnabled.enabled, #stackBidPicardEnabled.enabled, #stackAskQuoterEnabled.enabled, #stackAskPicardEnabled.enabled {
	border: 3px solid green;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button:hover,
input::-webkit-inner-spin-button:hover {
	-webkit-appearance: none;
}

#stackTickSize {
	top: 34px;
	left: 0;
	width: 42px;
}

#stackAlignmentTickToBPS {
	top: 49px;
	left: 0;
	width: 42px;
}

#btn_submitStackTickSize {
	top: 64px;
	left: 0;
	width: 42px;
}

.pricing_button {
	width: 38px;
	height: 15px;
	font-size: 10px;
	left: 0;
	position: absolute;
}

.pricing_button.modify_price_selected {
	background-color: #787878;
}

#pricing_controls {
}

#pricing_BPS {
	top: 288px;
}

#pricing_EFP {
	top: 303px;
}

#pricing_RAW {
	top: 318px;
}

.active_mode {
	border: 1px solid darkgreen;
}

/* index */

tr.result:nth-child(odd) {
	background-color: #d4d0c7;
}

tr.result:nth-child(even) {
	background-color: #bab6af;
}

tr.result {
	font-size: 11px;
	font-family: monospace;
	color: black;
}

tr.result .symbol {
	white-space: nowrap;
	font-size: 14px;
	min-width: 100px;
}

tr.result .display {
	min-width: 50px;
	white-space: nowrap;
}

tr.result .description {
	font-size: 10px;
	-webkit-user-select: text;

}

tr.result .worm {
	width: 20px;
	font-size: 10px;
}

#search_results_container {
	top: 35px;
	left: 0;
	position: absolute;
	margin: 0;
	width: 100%;
}

#search_results {
	width: 100%;
}

tr.result.highlight {
	background-color: #fdd3bb !important;
}

#search_box {
	background-color: #e8e8e8;
	margin: 0;
	width: 400px;
}

#search {
	left: 0;
	top: 0;
	position: absolute;;
	margin: 0;
	height: 30px;
	font-size: 15px;
	font-family: monospace;
	background-color: #292929;
	color: white;
	border: 1px dotted white;
	width: 100%;

}

#symbol.AUCTION {
	background-color: AQUA;
}

.NO_BOOK_STATE {
}

#click_trading_issues {
	background-color: #ff7300;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10;
}

div#after_hours_weight.isOnlineDef {
	background-color: orange;
	color: black;
}

div#after_hours_weight.isPoisoned {
	background-color: darkblue;
	color: white;
}

div#text.going_ex {
	background-color: yellow;
}

#ladder.zoomed_out .price.column, #ladder.zoomed_out .offer.column {
	border-left: 1px solid cyan;
}

div.price.column.highlighted {
	background-color: pink;
	color: black;
}