body {
	font-family: tahoma, arial, sans-serif;
	font-size: 9px;
	background-color: #000000;
	color: #ffffff;
	margin: 0;
	height: 100%;
}

#background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#111111));
	background-color: #333333;
	z-index: -1;
}

.cancelNonGTC {
	border: solid orange 5px;
	margin: 1px;
}

.shutdownOMS {
	padding: 4px;
	margin: 1px 4px;
	background-color: #b50000;
}

.cancelAll {
	border: solid red 5px;
	margin: 1px 4px;
}

button:not(.isClickable) {
	opacity: 0.5;
}

.enableNuclearOptions {
	padding: 3px;
}

div .hidden, #workingOrders.hideNoneEnder .row.notEnder {
	display: none;
}

.masterControls {
	height: 33px;
}

.masterControls .filters {
	width: auto;
	font-size: 8px;
}

.masterControls .filters #enderOnlyInput {
	vertical-align: middle;
}

.connectionLost {
	background-color: #dd989a;
}

.row {
	font-size: 0;
	white-space: nowrap;
	border-bottom: 1px solid #555555;
	padding: 0 6px;
	min-width: 620px;
}

.row .buttons {
	width: 50px;
	padding: 0;
	margin-right: 5px;
}

.row .buttons button {
	cursor: pointer;
	display: none;
	margin: 1px;
}

.row .omsButtons {
	width: auto;
	display: inline-block;
}

.row#header .buttons .folding {
	display: inline-block;
	width: 50%;
}

.row:not(#header) .buttons .cancelOrder {
	display: inline-block;
}

.row div {
	font-size: 10px;
	display: inline-block;
	width: 100px;
	padding: 1px;
	text-align: center;
}

.row div.narrow {
	width: 60px;
}

.row#header div {
	font-size: 14px;
}

.row div.serverDetails {
	cursor: pointer;
	width: auto;
	height: 33px;
	padding: 0;
	margin: 0;
}

.row div.orderCount {
	width: 50px;
	font-size: 12px;
	text-align: right;
}

.row div.serverName {
	text-align: left;
	min-width: 150px;
	font-size: 20px;
	padding: 0;
	margin: 0;
}

.row .cancelOrder {
	padding: 0 15px 0 15px;
	border: 0;
	margin: 0 0 3px 0;
}

.row .quoter .cancelOrder {
	visibility: hidden;
}

.symbol {
	cursor: pointer;
}

#workingOrders .bid {
	background-color: #000022;
}

#workingOrders .offer {
	background-color: #220000;
}

#workingOrders .bid .side {
	color: #9999ff;
}

#workingOrders .offer .side {
	color: #ff9999;
}

#workingOrders .bid:hover, #workingOrders .bid.highlight {
	background-color: #000066;
}

#workingOrders .offer:hover, #workingOrders .offer.highlight {
	background-color: #660000;
}

#workingOrders .money_in .moneyness {
	color: #99ff99;
}

#workingOrders .money_at .moneyness {
	color: #ffffff;
}

#workingOrders .money_out .moneyness {
	color: #ffb738;
}

#workingOrders .quoter .type {
	color: #ffff99;
}

#workingOrders .manual .type {
	color: #ff99ff;
}

#workingOrders .hedge_qty .type {
	color: #99ffff;
}
